.coverage
**/__pycache__
.virtual_documents
**/.ipynb_checkpoints
.submodule-init
.mypy-cache
.pytest-cache
.python-version
.venv
__pycache__
.ipynb_checkpoints
etl/scripts/countries-regions/intermediate
!data/
data/*
!data/reference/
!data/reference
!data/garden/
data/garden/*
!data/garden/reference/
.env
.env.*
*.dot
*.pdf
pyrightconfig.json
.DS_Store
ign.*
.idea
examples/data/*

playground.ipynb
!walkthrough/**/playground.ipynb

docs/_build
docs/.vscode

*.xlsx
*.zip
*.dta

# mkdocs
site/

.sanity-check
